<div style="width:960px; margin-top:50px">
	<h2 style="margin-bottom:10px">Nodes(<span id="nodeCount"></span>)</h2>
	<div class="tabbable" id="tabsNew>">
		<ul class="nav nav-tabs">
			<li class="latest active"><a href="#tabs-1" data-toggle="tab">by updated time</a></li>
			<li class="views"><a href="#tabs-2" data-toggle="tab">by views</a></li>
			<li class="bookmark"><a href="#tabs-3" data-toggle="tab">by bookmarks</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tabs-1">
				<div id="byUpdateAjaxLoader"><center><img src='/curation/img/ajaxLoader.gif'><img></center></div>
				<table id="latestnodes" class="table table-striped" style="width:100%" align="center" ></table>
				<ul id="latestnodes-pin" class="masonry" align="center" ></ul>
			</div>
			<div class="tab-pane" id="tabs-2">
				<div id="byViewsAjaxLoader"><center><img src='/curation/img/ajaxLoader.gif'><img></center></div>
				<table id="byviewsnodes" class="table table-striped" style="width:100%" align="center" ></table>
				<ul id="byviewsnodes-pin" class="masonry" align="center" ></ul>
			</div>
			<div class="tab-pane" id="tabs-3">	
				<div id="byBookmarksAjaxLoader"><center><img src='/curation/img/ajaxLoader.gif'><img></center></div>
				<table id="bybookmarknodes" class="table table-striped" style="width:100%" align="center" ></table>
				<ul id="bybookmarknodes-pin" class="masonry" align="center" ></ul>
			</div>
		</div>
	</div>
	<div style="float:right; font-size:12pt;"><a href="/nodes">More...</a></div>
	<hr></hr>
	<h2 style="margin-bottom:10px">Tags</h2>
	<ul id="tag" class="xmpl" style="width:900px; list-style: square outside none; margin: 30px 0px; padding: 5px; position: static; height: 250px; "></ul>
	<div style="float:right; font-size:12pt; margin-top:5px"><a href="/tags">More...</a></div>
</div>

<script type="text/template" id="tag-template">	
	<a href='/searchpage/tag/"<@= urlvalue @>"' title="<@= point @>" ><@= name @></a>(<@= num @>)
</script>

<script type="text/template" id="tpl-nodelist">
	<td style='text-align:left; width:95px;'>
		<a href="/nodes/<@= _id @>"><img style='max-height:90px; max-width:90px;' src=<@= thumbnail @> ></a>
	</td>			
	<td style='text-align:left; width:780px'>
		<h2 style="word-wrap: break-word; word-break: normal;"> <a href="/nodes/<@= _id @>"><@=title @></a> - <a href="<@= showMoreLikeThis(_id) @>" class="btn btn-mini btn-primary">More Like This</a> </h2>
		<div style="word-wrap: break-word; word-break: normal;"><font size="1pt" color="darkgray"><a href="/users/<@= username @>"><@= username @></a> - <@= FormatDateTime(updateDate) @> &nbsp;&nbsp; <@= view_total @> Views <@= bookmark_num>0 ? '<a href="/node/'+_id+'/bookmarks">' : '' @><@= bookmark_num @><@= bookmark_num>0 ? '</a>' : '' @> Bookmarks  <@= typeof(comment_num)!= "undefined"? comment_num:'0' @> Comments </font></div>
		<div class="partContent" style="display:block;word-wrap: break-word; word-break: normal;"><@= content.length>400? content.substr(0,400)+"...<a href='#' onclick='showAllContent(this)'>more</a>" : content @></div>
		<div class="fullContent" style="display:none;word-wrap: break-word; word-break: normal;"><@=content@></div>
		<div style="word-wrap: break-word; word-break: normal;"><@= getTagsButtonStr(category) @></div>
	</td>
</script>
<script type="text/template" id="tpl-nodelist-pin">
	<div style="width:200px">
	<a href="/nodes/<@= _id @>"><img style='max-height:90px; max-width:90px;' src=<@= thumbnail @> ></a>
	<h2 style="word-wrap: break-word; word-break: normal;"> <a href="/nodes/<@= _id @>"><@=title @></a> - <a href="<@= showMoreLikeThis(_id) @>" class="btn btn-mini btn-primary">More Like This</a> </h2>
	<div style="word-wrap: break-word; word-break: normal;"><font size="1pt" color="darkgray"><a href="/users/<@= username @>"><@= username @></a> - <@= FormatDateTime(updateDate) @> &nbsp;&nbsp; <@= view_total @> Views <@= bookmark_num>0 ? '<a href="/node/'+_id+'/bookmarks">' : '' @><@= bookmark_num @><@= bookmark_num>0 ? '</a>' : '' @> Bookmarks  <@= typeof(comment_num)!= "undefined"? comment_num:'0' @> Comments </font></div>
	<div style="word-wrap: break-word; word-break: normal;"><@= content.length>390? content.substr(0,386)+"..." : content @></div>
	<div style="word-wrap: break-word; word-break: normal;"><@= getTagsButtonStr(category) @></div>
	</div>
</script>

<script type="text/template" id="tpl-th-nodes">
	<tr style="font-weight:bold"><td>Title</td><td>Author</td><td>Updated Time</td><td>Views</td><td>Bookmarks</td></tr>
</script>
<script type="text/template" id="tpl-loader">
	<center><img src='/curation/img/ajaxLoader.gif'><img></center>
</script>

<link rel="stylesheet" type="text/css" href="/curation/css/screen.css" />
<script type="text/javascript" src="/curation/lib/bootstrap-tab.js"></script>
<script type="text/javascript" src="/curation/lib/jquery.tagcloud.min.js"></script>
<script type="text/javascript" src="/curation/lib/jquery.tinysort.min.js"></script>
<script type="text/javascript" src="/curation/js/tags.js"></script>
<script type="text/javascript" src="/curation/js/index.js"></script>